*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
	background: linear-gradient(to right, rgb(238, 234, 176), rgb(198, 151, 197)); 
}

.container{
	display: grid;
	grid-template-rows: repeat(3, fr);
	height: 100vh;
}

/*Useful Classes */

.displaynone{
	display: none;
}

/*Main Header */

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  width: 100%;
	margin-top: 5%;
}



h2{
		margin-top: 5%;
		margin-bottom: 2%;
		color: rgba(0,0,0,.8);
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
  color: rgba(0,0,0,.8);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;

}


a{
	text-decoration: none;
  width: 120px;
  padding: 30px 50px;
	margin: 20px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  transition: all 0.2s ;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	border: 3px solid #000;
}
